/* Gradients 3D */
.g-purple-3d {
  background: linear-gradient(
    135deg,
    var(--purple) 0%,
    var(--purple-accent) 100%
  );
  box-shadow: 0 2px 2px var(--purple-shadow);
  border: none;
}
.g-yellow-3d {
  background: linear-gradient(
    135deg,
    var(--yellow) 0%,
    var(--yellow-accent) 100%
  );
  box-shadow: 0 2px 2px var(--yellow-shadow);
  border: none;
}
.g-green-3d {
  background: linear-gradient(
    135deg,
    var(--green) 0%,
    var(--green-accent) 100%
  );
  box-shadow: 0 2px 2px var(--green-shadow);
  border: none;
}
.g-pink-3d {
  background: linear-gradient(135deg, var(--pink) 0%, var(--pink-accent) 100%);
  box-shadow: 0 2px 2px var(--pink-shadow);
  border: none;
}
.g-blue-3d {
  background: linear-gradient(135deg, var(--blue) 0%, var(--blue-accent) 100%);
  box-shadow: 0 2px 2px var(--blue-shadow);
  border: none;
}

.g-orange-3d {
  background: linear-gradient(
    135deg,
    var(--orange) 0%,
    var(--orange-accent) 100%
  );
  box-shadow: 0 2px 2px #c2410c;
  border: none;
}

.g-red-3d {
  background: linear-gradient(135deg, var(--red) 0%, var(--red-accent) 100%);
  box-shadow: 0 2px 2px var(--red-shadow);
  border: none;
}
